[2016-03-09 14:39] nicholasio opened #1 "Flush all caches after the import process is done"

[2016-03-11 15:30] nicholasio opened #2 "Remove {$taxonomy}_children from options tables after importing DB"

[2016-03-25 13:43] stevegrunwell opened #3 "Remove vendor directory from repository"
The git repository currently includes a `vendor/` directory, which should be excluded via the `.gitignore` file, as otherwise we're storing duplicates of third-party libraries that should be pulled in via Composer.

[2016-03-25 15:33] nicholasio commented on #3
Fixed.

Thanks @stevegrunwell .

[2016-03-25 15:33] #3 closed

[2016-04-01 18:24] danielbachhuber opened #5 "Consider adding functional tests to this project"
Functional tests are an integral ingredient of highly-quality, maintainable commands. WP-CLI tries to make it as easy as possible to add functional tests to your package with its `wp scaffold package-tests` command:

https://github.com/wp-cli/scaffold-package-command#wp-scaffold-package-tests

I'd encourage you to consider adding functional tests to your package :) By starting your functional test

[2016-04-02 03:29] nicholasio commented on #5
Thanks for the suggestion, I'll put this as a priority :+1:

[2016-04-03 04:02] #1 closed

[2016-04-22 16:41] NateWr opened #6 "Error during import: db tables created but no site/files/plugin/theme"
This is a pretty cool tool, and even with the error I ran into saved me _tons_ of time, thanks!

I ran the following on my single site:

[code]

Then moved the zip over to my new server where the multisite is set up and ran this:

[code]

It spit out a bunch of MySQL errors:

[code]

I may have made a mistake in that I didn't re-map the domain name when I ran the import command. When I realized, I

[2016-04-22 17:04] nicholasio commented on #6
Thanks for the report.

Can you tell me which version of wp-cli you're using and the type of your multisite installation (subdomain or subdirectory).?

These SQL errors are coming from the create_new_site() method, when trying to install the newly created site.

The theme, plugins and uploads did't get transferred over due to an error on the update post_author routine, which couldn't find for some

[2016-04-22 17:15] NateWr commented on #6
Source and destination:
`WP-CLI 0.23.0`
`WP 4.5`

Source:
Apache

Destination:
Subdirectory multisite
nginx

There's no `users_map.json` in the `mu-migration*` dir. I've got `csv`, `json` and `sql` files named `mu-migration-*<site_slug>.<ext>`.

I'm in the UK so clocking off for the day but do let me know if I can help provide any more diagnostic info or run any tests for you.

[2016-04-22 17:24] nicholasio commented on #6
Ok, those SQL errors aren't the problem, they are harmless (but I'll fix them). Your only problem is that the import users routine didn't create a file required by the update_author method. How many users do you have in the single site? Were all of them transferred over?

[2016-04-22 17:49] NateWr commented on #6
There was just the one user. Our old friend `admin`. :)

It looks like that user was not transferred over and it's caused some issues with the Author metabox on the Edit Post page. Luckily, none of the sites I'm working on now display author info so it's not really a big deal.

[2016-04-22 17:59] nicholasio commented on #6
Thanks for the info @NateWr.

I know what went wrong and I'll work to patch this either today or over the weekend. You had this problem because no user had been transferred over (because there's also an admin user on your multisite install probably and thus no mapping table had been created).

[2016-04-23 04:41] nicholasio opened #7 "Use JSON instead of CSV for users"
And use a JSON stream parser to read/write https://github.com/salsify/jsonstreamingparser/

[2016-04-23 23:13] nicholasio commented on #6
Hi @NateWr,

I have pushed a new version to master (which automatically goes to wp-cli package manager). Can you update to the latest version and try again?

The new version is 0.2.1 and you can check with: `wp mu-migration info` (if you receive an error you're still on the old version).

[2016-05-03 00:27] nicholasio commented on #6
Hey @NateWr were you able to test the new version?

[2016-05-03 09:02] NateWr commented on #6
Sorry @nicholasio, I've been away on a work trip the last week and I'm still getting caught up. I plan to run more migrations later this week or early next week and will definitely give you an update as soon as I can. I appreciate how quickly you responded to the report.

[2016-05-03 21:15] NateWr commented on #6
Hi @nicholasio, I updated `mu-migration` and ran the export script again:

[code]

I took a look at the `~/site.zip` file and there's no `users_map.json` file in it. Does that sound right? I haven't yet tried to import it (just about bedtime here) but I thought I'd check to see if that looked right to you.

[2016-05-03 21:19] nicholasio commented on #6
That's correct, the users_map.json is created only when importing because it needs to know the new users ids.

[2016-05-03 21:36] NateWr commented on #6
Ok sorry for the noise. I'll let you know how the import goes.

[2016-05-04 14:16] NateWr commented on #6
Mostly smooth sailing. The import went great and very quickly. Here's the output:

[code]

I notice that when I look at Posts or Pages in the wp admin table lists, I see the author `nate`. But when I open the Post or Page for editing, there's an empty author metabox (no select dropdown). This may be because the author ID is 1 in the source site, but the names/emails are different in the source/des

[2016-05-04 16:22] nicholasio commented on #6
Thanks @NateWr for the heads up, Do you have any kind of caching on sever? like Redis or Memcache? they can cause some inconsistencies like this after running the script, if so, try flushing the cache.

Anyway I'll take a look at this.

[2016-05-06 17:48] NateWr commented on #6
No caching running as far as I'm aware, however this is my first go on an nginx server and I used EasyEngine to get some initial things set up. So it's entirely possible there is something running that I'm unaware of. :)

[2016-05-06 19:35] nicholasio commented on #6
Ok, I'm gonna close this out. I find a bug with the users I'll open a separate issue.

[2016-05-06 19:35] #6 closed

[2016-10-26 10:13] jaysn opened #9 "export current theme(s) only"
Had a scenario with hundreds of themes installed in a big multisite installation.

export all exports all themes of the network wich ends in a 6 GB Zip-File for a single site.

[2016-12-05 11:36] #9 closed

[2016-12-05 11:37] nicholasio commented on #9
Thanks @jaysn. Merged!

[2016-12-05 11:37] #2 closed

[2016-12-06 20:18] nicholasio opened #14 "Update the "Garbage Collector" to work on WordPress 4.7"
See why here: https://github.com/10up/ElasticPress/issues/654

https://github.com/10up/MU-Migration/blob/master/includes/commands/class-mu-migration-base.php#L88

[2016-12-08 01:57] nicholasio commented on #14
Done https://github.com/10up/MU-Migration/commit/0a4b6036f5d82122bd0a2d5b58604df845a3fde2

[2016-12-08 01:57] #14 closed

[2017-02-12 14:23] noplanman opened #18 "Fails when using `wp --path`"
When using wp-cli with the `--path` flag, the import of content fails (themes, plugins and uploads), because the zip file contains the file structure of the `--path` parameter too.

i.e.
Without `--path`
[code]

With `--path="mysite.com"`
[code]

So as you can see, the `mysite.com` folder is an extra step when using `--path`, so the proper folders can't be found in [`class-mu-migration-import.php:

[2017-02-13 13:30] nicholasio commented on #18
The extra folder depth shouldn't be there ideally, but I'm not sure if there's an easy way to remove the extra folder from the zip file without copying the wp-content to the current dir. We can also add the `--path` param to the metadata file so we know the exact path to look for in `import` or just make the detection of `wp-content` smarter in the `import` command. Feel free to craft a PR.

[2017-02-14 01:36] noplanman commented on #18
After digging into this, I see that alchemy/zippy causes this issue.
The fact that [they use `getcwd`](https://github.com/alchemy-fr/Zippy/blob/348d258f407d394ea2694b118aff7d33f8a5a33a/src/Adapter/ZipAdapter.php#L66) to define what the tree inside the zip file looks like, it's impossible to tell what folder structure will actually be there.

**Examples**
1. Inside WP root: `wp-content/{plugins,the

[2017-02-14 23:23] noplanman commented on #18
Turns out I was thinking WAY too far... Easy fix #19

[2017-02-18 18:52] nicholasio commented on #18
Fixed and merged in #19.

[2017-02-18 18:52] #18 closed

[2017-02-18 21:39] noplanman opened #20 "Housekeeping"
I really like this plugin/package and am super grateful for your work on it!
Has been so incredibly helpful to me.

Would you be open for a general housekeeping of the code? I love nice-looking code and would love to contribute more.

The functionality would obviously stay the same, this is mainly for the visual poetry part of the code 😇 (with some extras of slight optimisations)

- [x] #21 Fix ty

[2017-02-19 02:30] nicholasio commented on #20
I'd love to see some improvements here. My only concern is with possibly introducing regression with "Slight code optimisations/modifications". Perhaps we should tackle #5 first. I have been avoiding making huge changes to the code until adding unit tests to the plugin. But I don't see huge risks with the first three items.

[2017-02-19 02:52] noplanman commented on #20
Yes, I totally understand that and agree with you. Having unit tests will be great! (We'll continue that discussion on #5)

I'll start with the first 3 point of this issue to also become more familiar with the code 👍

[2017-02-19 15:10] noplanman commented on #20
@nicholasio
Have updated the top comment and added the first 3 PRs for you to check out.

[2017-08-25 15:56] corradomatt commented on #20
Would you be open to a PR with updated documentation in the README.md and/or in the CLI output? Some things aren't complete / 100% clear.

[2017-08-25 16:04] nicholasio commented on #20
@corradomatt sure. Feel free to submit a PR.

[2017-08-29 16:15] soderlind opened #25 "import into a single site"
Can I use this to import into a single site, i.e. export a subsite and then import it into a single site?

[2017-08-30 05:03] nicholasio commented on #25
It doesn't really support this scenario, but it isn't that hard to support this (feel free to submit a PR), assuming you want to override the whole content of your single site with the content of the site you're importing. However, If you don't want to override the existing content, then you got a merge sort of problem, and you probably need a custom migration plan and scripts.

[2017-08-31 04:08] nicholasio commented on #25
I actually started to work on this on #26, feel free to test it out.

[2017-08-31 06:16] soderlind commented on #25
Excellent, thank you. Will test.

[2017-09-04 19:31] #25 closed

[2017-09-18 23:21] nicholasio opened #27 "Active plugins after importing"
When exporting a subsite and importing somewhere else, network activated plugins don't get activated. We need some post-import routine to activate these plugins.

[2017-09-20 12:53] #27 closed

[2017-09-28 13:37] nicholasio opened #30 "Search-Replace for uploads path when moving a subsite to another multisite network is incorrect"

[2017-09-28 13:39] nicholasio opened #31 "Plugins are not moved to their proper destination when importing."
[code]
Basename does not return the directory name, which is what we need. Should be using `dirname` instead.

[2017-09-28 13:43] nicholasio opened #32 "Override the main site of a network might break MU-Migration"
Override the main site of a network with a url other than the one set in wp-config.php breaks MU-Migration.

E.g:
[code]
If the domain set in `wp-config.php` for the network is not `newdomain.com` MU-Migration will not work properly because the network will main site will become inaccessible by WP-CLI. We should either warn the user about this or try to update the constant in wp-config as a first

[2017-09-28 13:46] #31 closed

[2017-09-28 13:46] #30 closed

[2017-09-28 13:47] #5 closed

[2017-10-01 22:02] nicholasio opened #33 "Add filter and optional parameter to specify additional fields where users ids needs to be updated."
After import, MU-Migration replaces the old user id with the new user id on post_author and _customer_user (if WooCommerce is enabled) fields. Some themes/plugins might also store user's IDs on some non-default places and therefore they also needs to be updated on import.

[2017-11-25 06:24] plutocrat opened #34 "Posted in error"

[2017-11-25 06:27] #34 closed

[2018-01-05 21:25] mackensen opened #35 "Upload import not working with older multisites"
I'm trying to move a site between a couple multisites created prior to WP 3.5, meaning they store site uploads in `blogs.dir`. The uploads are stored correctly in the exported zip, but they aren't moved into the new site. The attachment posts are in the media library, but the directory structure isn't created within `blogs.dir` and the files aren't extracted.

[2018-01-05 21:32] nicholasio commented on #35
The tool doesn't support `blogs.dir`, while I don't have any plans in supporting it, it should be a relatively simple code change to support it. So feel free to submit a PR :).

In the meantime I see two options:

1. You move the uploads to the new server manually
2. Before importing extract the zip file, rename blogs.dir to uploads and  zip the contents again. Then try importing the zip file agai

[2018-02-15 15:59] edubacco opened #36 "While importing, search and replace on db should be done without protocol"
I'm trying to import/export a blog from a multisite to a multisite. I have to change the url of the site, so I'm using the `--new_url` param.
Search and replace is running (it writes the correct new url in `wp_blogs` table), but I think that search and replace should be done without protocol, to upload (at least) `homeurl` and `siteurl` in `wp_options` table. In that table, the urls are stored wit

[2018-02-19 17:42] jgraup opened #38 "Consider adding `--blog_url` or `--blog_name` as an alternate to `--blog_id`"
One issue that I have is that my local multisite `blog_id` is out of sync with my remote multisite `blog_id`. It would be much easier to reference the site slug (which is the same in both) instead of the ID which will required an extra call.

[code]

For example:

[code]

[2018-03-17 18:03] nicholasio commented on #38
While I haven't tested, you could try running with wp-cli global --url parameter, then you wouldn't need to pass blog id.

`$ wp mu-migration export all subsite.zip --url=http://example.test/sitename/`

[2018-03-17 18:03] #20 closed

[2018-04-13 21:46] cocodrino opened #42 "can I use it for multisite WP to other multisite wordpress migration???"
Hi, good day, I need migrate a whole multisite wp to other server with other domain, would I use this plugin for achieve that???

other small question, I notice than there is an import command, do this create the db and tables or do I need create the db and then import the tables??? I ask because I'd prefer the second way because I think use other db name...

thank you...

[2018-04-14 02:03] nicholasio commented on #42
If you're migrating the whole multisite as-is to another server, you don't necessarily need to use this tool. You can simply move everything (files and database) to another server and run a search-replace to update the domain.

Regarding you second question, this tool assumes you have two WordPress instances and you want to move sites between these two, so this tool won't handle creating the datab

[2018-04-14 02:03] #42 closed

[2018-04-15 20:29] lkraav commented on #32
Just had a major expectation breakage.

GOAL: clone a subsite into a new subsite inside the same multisite

STEPS

1. `wp mu-migration export all ~/subsite.zip --blog_id=1`
2. `wp mu-migration import all ~/eec.zip --new_url=new.subsite.com` because documentation clearly says "will create a new subsite in existing multisite".

OBSERVED RESULT

Multisite main site replaced with the import, everythin

[2018-04-16 23:50] nicholasio commented on #32
@lkraav Thanks for you report. I'll look into this issue this week.

[2018-06-14 13:12] hendriq opened #45 "Error: 'mu-migration' is not a registered wp command. See 'wp help' for available commands."
When i try to export a subsite from a multisite network using: `wp mu-migration export all subsite.zip --blog_id=2`, it's given that error.

I am running wp_cli in a Local/Flywheel virtual machine with SSH prompt.

Thanks in advance.

[2018-06-14 13:14] nicholasio commented on #45
Did you follow the steps described in the README to install mu-migration? it is a wp-cli plugin and does not come with wp-cli by default.

[2018-06-14 13:32] hendriq commented on #45
I just simply ran `wp package install 10up/mu-migration` as said in README. I ran it again just to be sure and still not working

[2018-06-16 03:51] nicholasio commented on #45
what was the output of running that command? Does it work if you install it as a WordPress plugin? (make sure to run composer install manually)

[2018-06-16 03:51] #38 closed

[2018-07-04 21:29] Chuckworld commented on #32
I am planning doing a very similar thing as @lkraav and would love to use MU-Migration to do it. Any progress on this issue?

[2018-07-13 15:23] Chuckworld opened #46 "Project still active?"
Trying to add MU-migration via command line, and continue to get this error. In my vagrant box I was able to allot more memory via VirtualBox. On a real life server I have limited knowledge (but sudo privileges), yet I keep running into roadblocks. The most common error:

PHP Fatal error:  Allowed memory size of 536870912 bytes exhausted (tried to allocate 33554432 bytes) in phar:///usr/local/bin/

[2018-07-13 19:42] Chuckworld commented on #46
found a solution - was using older version of RedHat and allotting more memory to php.ini along with installing helper apps enabled me to get this installed...but lets get a progress report on this MU thing!!

[2018-07-13 19:53] nicholasio commented on #46
Hi @Chuckworld thanks for reporting this. I'll try to replicate this issue. Can you let me know which PHP version and WP-CLI you were using?

[2018-07-16 11:43] nicholasio commented on #46
I was able to replicate the issue and it is happening to any wp-cli package. Turns out this is a common issue with wp-cli: https://make.wordpress.org/cli/handbook/common-issues/#php-fatal-error-allowed-memory-size-of-999999-bytes-exhausted-tried-to-allocate-99-bytes

I'll add a note to the README.

[2018-07-16 11:43] #46 closed

[2018-07-16 11:47] #45 closed

[2018-07-16 20:43] Chuckworld opened #47 "exporting small subsite(s) with basic wp_ tables: Error: Something went wrong while trying to export the database"
[code]
The above command is an attempt to export the tiniest of subsites , yet it produces this error. Other blog_id numbers do the same thing. This is a multisite w/subdomains, php 5.6 and CentOS 5.X- or 6.X

What commonly triggers this message?

[2018-07-17 12:03] nicholasio commented on #47
Does `wp db export` work if you run it separately? That's what the tool uses to export the database.

[2018-07-17 18:53] Chuckworld commented on #47
Yes it runs

[2018-07-23 16:04] arturgithub commented on #47
Same issue here with wp db export running without error (mamp 4.2, php 7.1.8, mysql 5.6.35).

[2018-07-23 18:18] azito122 opened #48 "Properly map Content Audit plugin Owner field [enhancement]"
The [Content Audit plugin](https://wordpress.org/plugins/content-audit/) stores a metadata field per post indicating the "owner" of the content. The current user mapping functionality could be easily extended, I think -- and this might even be an opportunity to make that functionality more flexible and/or broader, to include other cases where the user id is stored by a plugin. If the maintainer is

[2018-07-23 18:31] azito122 commented on #47
A good debugging step might be to add these lines to `includes/commands/class-mu-migration-export.php`:

[code]

And run the mu-migration export. This should print out the two arguments that are being passed to `wp db export` from inside mu-migration -- maybe there are irregularities.

[2018-07-26 15:08] mfaure opened #49 "Child theme from site of network install not exported ?"
Hello,

(First of all, your package is awesome :) )

A feedback of a migration I've just made : I exported a site from a network install. When importing the zip file (as a single site install), I saw the child theme had not been imported (child theme of TwentyThirteen).

Hope this helps

[2018-08-01 01:00] nicholasio commented on #49
Was the child theme the active theme of the site? The tool will only include the child theme (and the parent theme) if it is the active theme of the exported site.

[2018-08-01 01:02] nicholasio commented on #47
It's definitely something with the the params.

Does `wp db tables` output anything? Alternatively, you can try what @azito122 suggest to debug (if you're open to hack the code a bit)

[2018-08-01 07:29] mfaure commented on #49
Yes the child theme was active

[2018-08-17 01:05] wmcheung commented on #47
I've solved the problem @Chuckworld by replacing

`	$export = \WP_CLI::launch_self(
				'db export',
				array( $filename ),
				array( 'tables' => implode( ',', $tables ) ),
				false,
				false,
				array()
			);`

on around line 148 and replace it with

`$export = \WP_CLI::runcommand('db export', array('return' => true));`

However, I'm stuck with zipping the folder now. It doesn't want to zip

[2018-08-29 21:51] thewizard1002 opened #51 "Error: Unable to get the list of tables to be exported"
When issuing this command (wp mu-migration export all site.zip --plugins --themes --uploads) on any site I have tried, I get the following
Exporting site meta data...
Exporting users...
Exporting tables
Error: Unable to get the list of tables to be exported

A CSV file and JSON file are created and have a lot of data. Specifying an individual table makes no difference

[2018-08-30 13:48] nicholasio commented on #51
Related #47 Looks like something changed in the internal API of WP-CLI.

Thanks for you report. I'll look into this soon.

[2018-09-01 17:14] iandunn opened #52 "`check_for_sed_presence()` false negative on OS X"
`check_for_sed_presence()` calls `sed --version` to test if `sed` is installed on the system. That works for GNU `sed` in most Linux distributions, but OS X ships with FreeBSD's version, which doesn't support the `--version` argument.

[code]

[2018-09-04 16:54] azito122 opened #54 "Travis builds exploding"
This is an issue identified in both pull requests #50 and #53. I've tracked the failure down to the fact that `wp-cli` removed most of the command requirements from `composer.json` in versions greater than `1.5.1`. Therefore, simply requiring `wp-cli/wp-cli` results in only the commands `cli` and `help` being available.

Possible solutions:
1. Stick with `v1.5.1`
2. Manually require all needed `wp

[2018-09-05 11:57] nicholasio commented on #54
@azito122 I think solution is fine 2? you open for a PR?

[2018-09-05 11:59] #52 closed

[2018-09-05 15:46] azito122 commented on #54
@nicholasio Working on it now

[2018-09-05 21:10] #48 closed

[2018-09-05 21:11] #54 closed

[2018-09-18 13:20] azito122 commented on #33
Fixed by PR #50 ?

[2018-09-18 13:29] #33 closed

[2018-11-17 01:26] pkarjala opened #57 "Importing site does not completely rewrite table data."
Running:

PHP 7.2.10
WP-CLI 2.0.0-alpha-d0fe445

We have a blog that is part of a multisite that I exported, and the export went fine.

When I imported the site into a different multisite install on another server, setting a specific `blog_id` and `new_url` option, it did not correctly complete the rewrite, and did not add the site to the `wp_blogs` table correctly.  The intent was to keep the sam

[2018-11-19 15:14] tiagoefreitas opened #58 "Warning: Unable to create the zip file"
Getting this warning and the zip file is not generated.

I change includes/commands/class-mu-migration-export.php to print the exception, get this error:

Warning: exception 'Alchemy\Zippy\Exception\InvalidArgumentException' with message 'Invalid path mu-migration-430119266ananda-events.sql' in /home/pg20619/.wp-cli/packages/vendor/10up/mu-migration/vendor/alchemy/zippy/src/Resource/Teleporter/Loc

[2018-11-19 16:02] tiagoefreitas commented on #58
Basically for files created by MU-Migration in the local folder its not passing the whole path to zippy, only for folders.

[2018-11-19 16:30] tiagoefreitas commented on #58
Actually the problem is MU-Migration is not creating any files to zip...
I run it likes this:

php -d suhosin.executor.include.whitelist=phar  ~/wp-cli/wp-cli.phar mu-migration export all events.zip --plugins --themes --uploads

[2018-11-19 17:22] tiagoefreitas commented on #58
Problem was using PHP 5.6, changed to 7.1 and worked

[2018-11-19 18:06] nicholasio commented on #58
@tiagoefreitas I don't thing we ever had a hard requirement on PHP 7 but I'll review this, I should probably update the dependencies anyway! Thanks for the report

[2019-03-04 10:21] geneellis commented on #51
Was this ever solved? I'm having the same problem.

[2019-03-09 17:25] nicholasio commented on #58
@tiagoefreitas one of the dependencies bumped PHP requirements to 7.1, I have downgraded for now so that this tool can support PHP 5.6 as well

[2019-03-09 18:28] #58 closed

[2019-03-09 19:49] nicholasio commented on #51
@geneellis @thewizard1002 Can you try again? I have just merged #61. Make sure to update to the latest version.

[2019-03-09 19:50] nicholasio commented on #47
I've just merged a PR #61 that might fix this.

[2019-03-09 19:52] nicholasio commented on #57
The `blog_id` option for importing is meant to be used only when overriding existing subsites. If you're just importing as a new site you just need to specify the `--new_url` option.

[2019-03-09 19:52] #57 closed

[2019-03-12 16:17] geneellis commented on #51
Will try again on the next migration. Thanks!

[2019-03-28 04:33] adamshand commented on #47
Thanks, PR #61 fixed the problem for me!

[2019-03-28 11:33] nicholasio commented on #47
@adamshand Thanks for confirming.

[2019-03-28 11:33] #47 closed

[2019-03-28 15:03] azito122 commented on #51
I'm still seeing this on the latest commit.

[2019-03-28 15:06] nicholasio commented on #51
Can you post the full error and details of what you're trying to do?

[2019-03-28 15:17] azito122 commented on #51
This is my bad, my version of `wp-cli` wasn't up to date. Sorry for posting in haste :)

[2019-04-01 21:21] jeffpaul commented on #51
@azito122 so did updating `wp-cli` resolve your issue?

[2019-04-02 14:55] azito122 commented on #51
Indeed.

[2019-04-10 14:10] larssn commented on #47
While this does indeed appear to be fixed in the main repo while using it as a plugin, the wp cli package still has the problem.

[2019-04-11 11:25] frontenddevguy opened #62 "Cannot use composer on WP Engine"
I needed this on a client's site hosted on WP Engine, and they don't support composer (or just about anything else for that matter!).

Is there a way to get this working without installing dependencies on the WP Engine server?

[2019-04-23 20:51] aabergkvist opened #63 "Windows 10 + Local by Flywheel - Can't locate the .zip"
Hi!

I've managed to install MU-migration without problems on my win10 + local by flywheel setup.

The export works fine, tells me a .zip has been generated. However, I can't find it, anywhere.

Been using different types of windows search applications, included hidden folders/files etc.

Any ideas?

[2019-04-23 22:35] nicholasio commented on #63
Did you run it inside local by flowwheel? what was the path that you specified? if you just specify the file name it should create the zip file in the current directory

[2019-04-27 05:47] aabergkvist commented on #62
I'm working on this one mate. I'll have a guide (it's a workaround that is needed to do this) ready soon!

[2019-04-27 10:50] frontenddevguy commented on #62
Thanks. I may not still be using WPE by then. I was doing some freelance maintenance for a client.
Would never use them myself :p

[2019-06-27 03:39] jeffpaul opened #65 "readme updates"
It's not obvious the level of support provided for this repo, so let's add some clarification.

- [x] add support level section and badge
- [x] add license badge

[2019-10-08 16:56] #65 closed

[2019-11-08 12:15] ppiotr3k opened #67 "Cloning a subsite using export/import --new_url affects the source subsite domain"
**Describe the bug**

When cloning a subsite in a multisite install using export/import, the source subsite domain is updated to the target subsite URL.

**Steps to Reproduce**

1. `wp mu-migration export all --blog_id=8 /tmp/blog_template.zip --themes --plugins --uploads`
2. `wp mu-migration import all /tmp/blog_template.zip --new_url="https://mynew.url"`
3. _blog_id=8_ gets _https://mynew.url_ a

[2019-11-08 14:42] nicholasio commented on #67
@ppiotr3k Are you importing the exported site in the same subsite? If so this is very likely an unhandled edge case, since when the search-replace takes place to replace the URL, it affects both subsites given they both have the same URL/Domain at the time search-replace is run since search-replace is performed with the `--network` flag it catches both sites. You'd have the same issue if you didn'

[2019-11-18 14:13] ppiotr3k commented on #67
@nicholasio I confirm this is an export/import in the same WordPress multisite deployment. The export/import features are used as a cloning operation, providing a new URL for the target during import.

Also, I haven't noticed previously, but indeed the URL is replaced in the source site in other places as well, with the target site URL, as explained in your possible cause analysis :clap:

[2019-11-26 19:49] jeffpaul opened #68 "Test against WP 5.3"
**Is your enhancement related to a problem? Please describe.**
Now that [WordPress 5.3 is released](https://wordpress.org/news/2019/11/kirk/), we'll want to test MU Migration to see if any incompatibility issues arise.

**Describe the solution you'd like**
- [ ] test MU Migration on WP 5.3
- [ ] open issues for any incompatibilities noted in testing
- [ ] resolve issues identified in testing
- [ ]

[2019-11-27 10:59] derekPrivate opened #69 "Error establishing a database connection"
Just trying this tool for the first time. I have successfully exported my multi-site Wordpress to a zip file. I have copied the zip file to a (completely) new Wordpress installation. I run the command

wp mu-migration import all site.zip --new_url=dev.xxxxxxxx.com/wordpress --path=/var/public/sites/wordpress

and get the message
Error establishing a database connection

Any ideas how I can investi

[2019-11-27 11:42] nicholasio commented on #69
Does the site work properly outside of MU-Migration? This seems to be an issue within your database connection since MU-Migration does not handle connections to the database directly.

[2019-11-27 12:38] derekPrivate commented on #69
Yes - it is a brand-new site (clean install. wp setup) and I can connect to the server with my browser - the site just has the default content.

--
Derek Morris
derek.morris@allofmymail.com

[2019-11-27 13:44] derekPrivate commented on #69
P.S.

To confirm the connection, I just added this to a file and then opened with the browser and received “Connected successfully”

<?php
$link = mysqli_connect('localhost', 'root', 'root');
if (!$link) {
die('Could not connect: ' . mysqli_error());
}
echo 'Connected successfully';
mysqli_close($link);
?>

--
Derek

[2019-11-27 16:53] derekPrivate commented on #69
OK, I eventually found the issue. I was having the same problem with wp core update and tracked it down (eventually!) to using the native php instead of the one supplied with MAMP.

Thanks for your help.

[2019-11-27 16:53] #69 closed

[2019-11-30 15:20] derekPrivate opened #70 "Imported subsite is not working"
I export a subsite from a live system:

wp mu-migration export all subsite.zip --blog_id=2 --path=/var/www/html/wordpress --plugins --themes --uploads

I then import into a new (clean, multisite) Wordpress installation:

wp mu-migration import all  subsite.zip --new_url=mynewsite.com/wordpress/subsite --blog_id=2

When finished, the site appears in the list of sites in the Network Admin, but if I

[2019-11-30 15:23] derekPrivate commented on #70
Should have mentioned - I am using Wordpress 5.3.

[2019-12-03 12:19] nicholasio commented on #70
@derekPrivate it looks like the server you're running MU-MIgration either does not have sed or something is wrong with it.

Can you run this on your terminal and let me know the result?

`echo "wp_" | sed "s/wp_/wp_5_/g"`

[2019-12-03 12:25] derekPrivate commented on #70
% echo "wp_" | sed "s/wp_/wp_5_/g"
wp_5_

--
Derek

[2019-12-03 12:28] nicholasio commented on #70
Are you running MU-Migration in a linux server?

[2019-12-03 12:33] derekPrivate commented on #70
I’m exporting on Linux and importing into a Mac. (Catalina, 10.5)

--
Derek

[2019-12-03 12:38] nicholasio commented on #70
This CLI tool has no official support for Mac OS, but I guess it shouldn't be too hard to come up with a fix for Mac OS, `sed` works a bit different on Mac OS when compared to Linux and that's probably why the sed commands this tool run is not working for you.

[2019-12-03 12:40] nicholasio commented on #70
This is where the sed commands run in case you want to try something: https://github.com/10up/MU-Migration/blob/master/includes/commands/class-mu-migration-import.php#L663

I'll see what I can find.

[2019-12-03 12:48] nicholasio commented on #70
@derekPrivate Can you try replacing this line https://github.com/10up/MU-Migration/blob/master/includes/commands/class-mu-migration-import.php#L685 with this: `sed -i'' -e '$sed_command' $filename`

[2019-12-03 14:19] derekPrivate commented on #70
Ok that solved the sed error, but now I do not see my website at all!

Previously, I saw the sed errors, but my website did appear in the list of sites in my wordpress installation (but the site did not work!)

Now, I see no errors during the import, but my website does not now appear in the list of sites

--
Derek

[2019-12-08 18:25] cyberlord29 opened #71 "Images rename PHP error"
PHP Warning:  rename(mu-migration1575829182//wp-content/uploads/wp-clone/index.html,/opt/bitnami/apps/wordpress/htdocs/wp-content/uploads/sites/3/wp-clone/index.html): No such file or directory in /home/bitnami/.wp-cli/packages/vendor/10up/mu-migration/includes/helpers.php on line 114

Some Images dont show up , I think its becasue of the rename failure during Import,

[2020-01-24 01:35] drebs opened #73 "Search-replace of uploads paths is innefective when importing from multi-site into single-site"
**Describe the bug**

If a blog is exported from a multi-site installation **without passing `--blog_id`** and then imported into a single-site installation **with a `--new_url`**, then the search-replace command for uploads paths does not effectivelly replace `wp-content/uploads/sites/$blog_id` for `wp-content/uploads`.

**Steps to Reproduce**

Export the website **from a multi-site installation*

[2020-02-19 03:36] jeffpaul opened #74 "Export sub-sites to ZIP files"
**Is your enhancement related to a problem? Please describe.**
This request came in [via Twitter](https://twitter.com/sdenike/status/1227228814922653697) in terms of how to further improve MU Migration.

**Describe the solution you'd like**

**Designs**

n/a

**Describe alternatives you've considered**

n/a

**Additional context**

n/a

[2020-02-21 11:48] nicholasio commented on #74
This can already be accomplished with the existing wp-cli commands, e.g:

[code]

Didn't test the code above but it should be a good starting point.

@jeffpaul Maybe add this to the readme as an example?

[2020-02-23 14:33] patbell101 commented on #51
As at Feb 2020 this is STILL happening for me in 2.4. In Laragon and in Local
See terminal dialogue below

C:\laragon\www\Starter
? wp --version
WP-CLI 2.4.0

C:\laragon\www\Starter
? wp mu-migration export all starter
Exporting site meta data...
Exporting users...
Exporting tables
Error: Unable to get the list of tables to be exported

Any remedies>

[2020-02-24 16:43] patbell101 opened #75 "export all doesn't, export all that is"
**Describe the bug**
export all doesn't, export all that is it just create a zip without uploads, plugins and themes.

**Steps to Reproduce**

1. go to /public
2. enter on 'wp mu-migration export all sitename.zip
3. result:Exporting site meta data...
Exporting users...
Exporting tables
Zipping files....
Success: A zip file named sitename.zip has been created

**Expected behavior**

I expect ALL to

[2020-02-24 23:29] J-Rey opened #76 "Windows support"
**Is your enhancement related to a problem? Please describe.**
I was able to install on Windows Server without errors but when trying to export then gave an error & didn't work:
[code]

**Describe the solution you'd like**
Either implement full Windows support or do a simple test first before allowing it to be installed

I'm not that surprised that it isn't compatible but Windows is certainly used

[2020-02-25 01:43] Likwix commented on #63
@aabergkvist , Hello
I am also interested in this question. Just once MU-migration is installed (wp package install 10up/mu-migration), when I run the command "`wp mu-migration export all mysite.zip --themes --plugins --uploads`", I get the following error:
[code]
Could you tell me how you managed to overcome this issue?

[2020-03-09 17:56] rootbash opened #77 "Plugins Status Import"
Hi,

Currently when restoring from Zip a message appears that "plugins <name> is activating" But all the plugins are deactivated upon import the approach is safe to keep all plugins inactive. But ideal case would be  that the zip should also save the status of the plugins on the source  at the time of export and Activate them upon import to the destination. The plugins that are activated on source

[2020-03-09 17:59] rootbash opened #78 "User Friendly"
Hi,

We can make the plugin more interactive by showing messages on each step.
E.G Upon export if you do not pass any flag it will only export users by default. So it should be interactive if you like to add themes, plugins uploads? some suggestions like if a site is big we do not recommend to import the uploads as they can be synced later.

[2020-03-09 18:03] rootbash opened #79 "Users import from Multisite into a single Site"
Hi,

I have noticed if I try to import from a subsite within a multi-site network into a single site the users that are setup network wide are messed up. They do not get any roles and they are unable to login using the login credentials they have at the source. So I have to update the user role.

[2020-03-20 01:55] jeffpaul commented on #68
Note that I updated this from WP 5.3 to 5.4 as the new major release is pending the end of this month.

[2020-04-20 23:16] wpbullet commented on #73
FWIW when I made a script using this amazing package I worked around this with:

[code]

[2020-05-18 21:54] Sortova opened #80 "n00b issue: Unable to create archive"
Running into an issue trying to create my first archive.

On Ubuntu 18.04.4 LTS with php 7.2, when I run:

wp mu-migration export all single-site.zip --themes --plugins --uploads --verbose

I get

Exporting site meta data...
Exporting users...
Success: 2 users have been exported
Exporting tables
Success: The export is now complete
Zipping files....
Warning: Unable to create archive

Could be somet

[2020-05-18 23:21] Sortova commented on #80
Hrm - must be something with that site. I ran it against another site on the same system:

Exporting site meta data...
Exporting users...
Success: 33 users have been exported
Exporting tables
Success: The export is now complete
Zipping files....
Success: A zip file named single-site.zip has been created

Note that the zip took a long time. On the other site it fails almost immediately.

[2020-05-19 03:27] Sortova commented on #80
Final update for the evening: I have three websites I'd like to move. The migration worked for one of them. The others die pretty quickly with "unable to create archive". Looking for any kind of log message now to figure this out.

[2020-05-19 10:37] nicholasio commented on #80
Are all of the sites on the same server? That error is most likely indicating the zip extension is missing.

[2020-05-19 12:39] Sortova commented on #80
Yeah - all three are on the same server. Really beating my head against the wall on this, as the big, complicated site moved without much of an issue but these two smaller sites are being a pain. Seems weird it would work for one and not the others. I made sure all three sites were completely up to date with inactive plugins removed.

I assume that MU-migration doesn't really log anything? Outside

[2020-05-19 12:51] Sortova commented on #80
One more data point: I took the smaller of the two sites and moved it to the new server as a single site. MU-migration fails with the same error, although that site is running Ubuntu 20.04 with PHP 7.4.

[2020-05-20 12:35] Sortova commented on #80
No worries. I'll do it manually. Thanks for making one of the site moves easier.

[2020-05-20 12:35] #80 closed

[2020-05-22 13:47] bijanmmarkes commented on #79
:+1: I also noticed the same issue, imports the role names, and keeps them attached to the users, but the roles themselves don't exist.

[2020-08-17 13:10] testhome132 opened #81 "Zip file is damage with folders"
Hello Team

I have use MU-Migration in windows. When i am creating zip file then all the folders are blank in wp-content folder.

You can see attached screenshot and tell me know what am i missing?
![error-1](https://user-images.githubusercontent.com/67829174/90400252-d415ee00-e0b9-11ea-8d1e-2d6fe461a7ca.png)
![error-2](https://user-images.githubusercontent.com/67829174/90400268-d8420b80-e0b9-11ea

[2020-08-18 10:33] jitendrabanjara1991 commented on #63
Hello @Likwix

mysqldump: Got error: 2003: Can't connect to MySQL server on 'localhost' (10061) when trying to connect - **Please add mysql path in environment variable.(ex: G:\wamp64\bin\mysql\mysql5.7.28\bin added to control pannel -> system -> advanced ->Environment Variables -> Select Path -> Edit and add this (G:\wamp64\bin\mysql\mysql5.7.28\bin) ).**

'grep' is not recognized as an internal

[2020-09-02 02:08] jeffpaul commented on #63
@aabergkvist and @Likwix have you tried installing Cygwin64 Terminal for Windows as noted by @jitendrabanjara1991?

[2020-09-23 17:50] nicklaussemuse opened #82 "Installation fails?"
Hi! I had no trouble installing wp-cli and mu-migration on the target server, or of doing a test zip of one of the dummy subsites on the target server, but now that I'm trying to install it on the source server, I'm having problems. When I enter wp package install 10up/mu-migration, I get this error:

Error: The "https://wp-cli.org/package-index/packages.json" file could not be downloaded: SSL ope

[2020-09-23 17:58] nicholasio commented on #82
@nicklaussemuse This seems to be an issue with your server. Have you tried contacting hosting?

Alternatively, you can install this as a WP plugin on the source site/server and run `composer install` at the root of the plugin.

[2020-09-23 18:46] nicklaussemuse commented on #82
@nicholasio Is there any more detail you can give me about what I might need to ask IT to investigate or do? (We own the server.)

I'd also appreciate any info about how to install it as a WP plugin if that is better! I couldn't find this info.

thanks!

[2020-09-28 18:56] nicklaussemuse commented on #82
@nicholasio sorry to bug you, but is there any more detail you can give me about this issue or about other ways of installing mu-migration? Thanks!

[2020-09-29 11:25] nicholasio commented on #82
@nicklaussemuse

In order to install MU-Migration manually as a plugin:
1. Download MU-Migration as a zip file: https://github.com/10up/MU-Migration/archive/master.zip
2. Extract it and move to wp-content/plugins/MU-Migration in your server
3. Inside wp-content/plugins/MU-Migration run `composer install`
  - If you don'´t have `composer` you'll need to install on your server https://getcomposer.or

[2020-09-29 20:59] nicklaussemuse commented on #82
Okay, the word from IT is that we cannot update SSL because the OS is too old, and running composer install (after installing composer) failed because our PHP is too old. Welp, time to see what they say about next steps! Thanks.

[2020-10-13 19:56] nicklaussemuse commented on #82
Okay, yeah, IT says we cannot update PHP on that server. Is there perhaps an older version of this that would run on PHP 5.4.45?

[2020-10-14 14:04] alex8276 opened #83 "Create a clone of multisite"
Hi,
I want to create a preprod environment of my network. (clone of porduction environment)
Is it possible with your plugin or we can just export one to one the subsites ?

Regards

[2020-10-14 14:29] nicholasio commented on #83
@alex8276 if you want to clone the whole network you don't need this plugin, you can clone the network as is and do a search-replace.

However, if you want to clone just a subset of the sites then yes, this plugin is for you.

[2020-10-14 14:41] nicklaussemuse commented on #82
We're actually retiring this server entirely - that's why we're trying to migrate the sites from it. I think I understand what you mean about cloning the site, installing it, and then converting to multisite - that makes sense! Thank you for the suggestion.

[2020-10-15 12:07] nicholasio commented on #83
@alex8276 Correct, move folders and export and import the database.

[2020-10-20 20:00] nicklaussemuse opened #84 "Question: When Wordpress is installed in a subdirectory but site addresses should be at the root"
Hello! Thank you for your earlier help - I've been able to get my single sites zipped up in preparation to move them into a multisite. However, my multisite installation is configured so that all the Wordpress files live in a /wp subdirectory, but the site URLs should wind up at domain.com/site1, domain.com/site2 etc. Should the migration command be run, and the .zip files to migrate located, in /

[2020-10-21 01:04] nicholasio commented on #84
Hi @nicklaussemuse it shouldn't matter, it should work both at the root and at the `wp/` subdir. This tool relies on WordPress functions `wp_uploads_dir` and `get_theme_root` to figure out paths so as long as you have a working wp installation all should work fine.

I should note though that I haven't tested with this particular scenario, so should you encounter any issue, feel free to let us know

[2020-10-21 14:32] nicklaussemuse commented on #84
Okay, interesting development! What happened when I ran the import command was that it simply made the temporary installation (at /wordpress_temp/site1) part of the multisite network. This was of course not my intent; I'd like it to exist at /site1.

Is this something that using the --new_url parameter will solve? I didn't include it because I thought that "perform a search and replace" would be s

[2020-10-21 19:54] marcelo2605 opened #85 "Zip archive inconsistent while import"
**Describe the bug**
Error when try tu run `mu-migration import all`

**Steps to Reproduce**
1. Export a single site from a multisite using `wp mu-migration export all subsite-1.zip --themes --plugins --uploads --blog_id=1
`
2. Create a fresh WordPress single instalattion
3. Run `lando wp mu-migration import all subsite-1.zip --new_url=https://new-domain.lndo.site`

[code]

**Environment informati

[2020-10-21 21:21] marcelo2605 commented on #85
An update: when I run `wp mu-migration export all subsite-1.zip --blog_id=1` I can import the database without any error. Maybe this error was related with the size of my uploads folder (almost 9GB).

[2020-10-26 15:07] nicklaussemuse commented on #84
Just wanted to check in and see if you/someone else had any advice here. I tried installing with the flag "**--new_url=/single-site**", but it wouldn't do it - is my only option to do it in a hurry after we change the development server's URL to the one it's meant to be using?

[2020-10-30 22:19] splaquet commented on #84
folks can correct me on this one... but, if i'm following you, it might be easiest to push a 'wp search-replace 'old.url.com' 'new.url.com' --precise --network

but, on the --new_url= tag, you'd want either:
--new_url=subdomain.domain.com
--new_url='domain.com/subfolder'

[2020-10-31 02:52] nicklaussemuse commented on #84
@splaquet, the issue I'm referring to is that I'm importing these sites on a server that will be changing its address when the migration is complete. I want to avoid a situation where I import a site to TEMPDOMAIN.COM/subfolder, the server becomes DOMAIN.COM, and the site breaks. Because I don't know what exactly gets written where with that command and if a site imported at TEMPDOMAIN.COM/subfold

[2020-10-31 12:42] nicholasio commented on #85
@marcelo2605 Thanks for the bug report. You might be right, the size of your uploads folder might be the issue. My suggestion is to migrate the uploads folder separately with something like `rsync`

[2020-11-02 17:23] renzocastillo opened #86 "Can't perform migration when mysql is not installed at server app ( remote mysql )"
**Describe the bug**

First of all, I would like to say that I'm not sure if this is a bug at all, because maybe I should assume that this tool uses mysql for performing db operation and it should be available at local.

**Steps to Reproduce**

wp mu-migration import all site.zip --new_url=multisite.test/new-site --allow-root

**Expected behavior**

I expect to import all tables and have the files

[2020-11-02 19:20] renzocastillo commented on #86
Ok so just for the record I solved it using this command:

apt install mysql-client-core-5.7

So basically I needed to install mysql client in order to perform connection to remote mysql host and then plugin keep working smoothly

[2020-11-02 21:15] nicholasio commented on #86
Yep - this tool does assume you have mysql client on the server from which you're running the command from.

Glad you were able to get it to work!

[2020-11-02 21:15] #86 closed

[2021-01-04 10:06] patbell101 opened #87 "wp mu-migration export all 59c.zip --blog_id=59 --allow-root only zips sql"
I am not sure if this is a bug or usage has changed. I have updated to the mist current mu-migration. I have used the following command wp mu-migration export all 11.zip --blog_id=11 but it only zips the following files csv jsn and sql. It doesnt get the plugins, themes or uploads folders

It has in the past from this same multisite but not any more.

[2021-01-04 20:04] nicholasio commented on #87
It's a bit misleading but the `export all` does not include plugins, themes, or upload folders. Originally it was called `all` because it included all data and not only users or tables for example (which is also possible to export separately)

The command you want is `wp mu-migration export all 11.zip --blog_id=11 --plugins --themes --uploads`

[2021-01-07 22:21] anekola opened #88 "Migration hanging when importing users"
**Describe your question**
I'm not sure if this is a bug or if I'm doing something wrong, because this seems rather basic. I did one site import with a few dozen users that worked fine, but now that I'm attempting one for sites with hundreds to thousands of users the import keeps hanging while "Importing Users."

On one of the larger site, it returns a few PHP errors while doing so:

[code]

Does

[2021-01-08 15:56] anekola commented on #88
An update: I'm paying closer attention to the numbers, and it seems to be continuing, but it's just taking a VERY long time. In one hour it has processed ~ 600 users. This particular site has 1937 users. Perhaps this is a resource issue? I'm running this on local server, which is https://varyingvagrantvagrants.org.

[2021-01-10 13:08] DominatorCode opened #89 "Cannot import subsite in Windows"
When I import a subsite into a Windows system, at the stage of extracting tables, I get an error:

**Extracting zip package...
Importing tables...
Error: sed not present, please install sed**

I'm just usin this command, nothing special:
**wp mu-migration import all subsite-test.zip --blog_id=1**

Also, I found and installed this sed application https://sourceforge.net/projects/gnuwin32/files/sed/

[2021-01-11 17:53] nicholasio commented on #89
Unfortunately, this tool does not work inside Windows.

I suggest you try WSL.

[2021-01-11 17:53] #89 closed

[2021-01-11 17:54] nicholasio commented on #88
Looks like there's something wrong going on. Can you open the .csv file inside the zip file and check if the CSV is malformed?

[2021-01-11 19:27] anekola commented on #88
The CSV seems fine. But it has 348 columns. Would that number significantly
slow it down in your experience?

On Mon, Jan 11, 2021 at 12:55 PM Nícholas André <notifications@github.com>
wrote:

[2021-01-11 19:36] nicholasio commented on #88
I assume the users have a lot of custom meta, so yes it should slow down as for each user the import script will have to make individual calls to update each post meta (this can probably be improved).

The warnings you're getting are definitely concerning though as they seem to indicate bugs in the logic to import users.

[2021-01-11 19:36] #87 closed

[2021-01-11 19:37] #85 closed

[2021-01-11 20:12] anekola commented on #88
Yeah, I understand why, but the export is including custom meta that is
only needed on certain subsites that I'm not actually exporting. I
attempted to delete the columns from the CSV that I didn't need and when I
tried to import I got this message:

Error: There's something wrong with your zip package, unable to find
required files

On Mon, Jan 11, 2021 at 2:36 PM Nícholas André <notifications@gi

[2021-01-13 15:37] anekola commented on #88
Thanks @nicholasio – I was able to get into the CVS and remove columns I didn't need. That sped things up. The server still incrementally slowed down, so I occasionally needed to stop and restart the machine. Luckily, it picked up where it left off with users.

The warnings were related to a plugin issue. I'm on WordPress VIP, and it doesn't notify me when to update mu-plugins locally :) Sorry abo

[2021-01-13 15:37] #88 closed

[2021-02-16 15:53] christianswanepoel opened #90 "WooCommerce support?"
Does the standard export support WooCommerce, or is there a recipe for it to work?
I am guessing it needs special table values?

[2021-02-16 17:17] nicholasio commented on #90
There was basic support for WooCommerce, but it hasn't been tested with the recent version which introduced a bunch of changes.

Worst case scenario is that you will probably have to do post-migration tasks to get everything properly migration.

MU-Migration will migrate all tables within the table_prefix so it should already include WooCommerce custom tables

[2021-02-17 07:53] christianswanepoel commented on #90
I was hoping to split out a single site from a multisite Woo, but I am guessing if I just migrate entire Multisite Environment it should work?

[2021-02-17 10:42] nicholasio commented on #90
I'd try migrating the specific subsite you want first, I don't think there are too many things specific to WooCommerce.

[2021-04-07 17:08] ravi-gill opened #91 "Unable to Create Zip File With Uploads Option"
Hi there,

We are using the MU-Migration tool to export blogs/sites from a WordPress Multisite instance; however the export breaks when the uploads directory for the blog/site is too large. For instance, it broke on a blog/site that had just under 700 MB of assets in its uploads directory. Below is the command line we used, and the error we got.

The error mentions QUERY packet so we increased the

[2021-04-17 23:17] jmtornetta commented on #67
Confirmed this is an issue for me as well.

[2021-04-25 21:51] jmtornetta commented on #67
For others following, my workaround was to use wp-cli to change the site address to the "new site address" prior to exporting. Once the export is done, the script changes the site address back. Then, upon importing, you don't need to specify a new address.

I think I've mostly finished with the bash script, if anyone is interested lmk and I'll finish it up and provide.

[2021-05-03 17:51] splaquet opened #92 "wpmu_new_blog is deprecated since version 5.1.0! Use wp_insert_site instead."
**Describe the bug**

I've noticed that running imports/migrations into new/different WPMU environments haven't worked the same as they previously had.

The issue is when I import a package into a new WPMU, it isn't creating a new subsite.  It's going through all of the steps, but the only evidence is in the database.  Database imports correctly with the next site ID, but there's no sign that a ne

[2021-05-04 04:57] ruibrasfernandes opened #93 "Error Importing tables - ERROR 1826 (HY000) - Duplicate foreign key constr aint name"
Hi,
I used the following options on the export:
wp mu-migration export all xxxxxx.zip --plugins --themes --uploads --blog_id=7

but when I try to import on the other multi-site WP I got the following error:
ERROR 1826 (HY000) at line 927 in file: 'mu-migration1620103710/mu-migration-1938202962lovingwalk.sql': Duplicate foreign key constraint name 'fk_wp_3_wc_download_log_permission_id'

I tried wi

[2021-05-10 21:04] sultann commented on #92
Hi @splaquet, what was the MU-Migration plugin version?

[2021-05-24 10:10] sultann commented on #92
Hi @splaquet could you please check if the issue still exists? I could not find any reference of the deprecated function  `wpmu_new_blog` in the plugin.

[2021-05-24 14:30] splaquet commented on #92
Huh. Are there any package dependencies that might be creating that?

I'll try and run another import when I'm back at my desk.

As I mentioned, this issue seems to pop out when importing a migration package into a natively created new blog/ID (from within the MU-migration package).

I do not see this issue when importing over an existing ID.

We're using the latest nightly WP-CLI builds, so I don

[2021-06-08 04:05] nunomorgadinho commented on #79
+1 for this issue

[2021-06-27 16:41] akissz opened #96 "Many issues or bugs, MU-Migration could be much better. And no error messages?"
This is a great program (idea) but needs some cleaning on its available function set.

First thing I notice is the function like --blog_id=5, this is not functioning, and data goes into id #1 by default.

The MU-Migration needs more mysql options to be able to use commands like --set-gtid-purged=OFF or the import fails on servers that don't use root as the main user.

On failed import, there is th

[2021-07-12 15:11] jeffpaul commented on #92
@splaquet any updates on your testing of this and whether you're still seeing an issue here?

[2021-07-23 17:35] #49 closed

[2021-12-04 16:14] reikjarloekl opened #97 "Import from Multisite: Uploads paths are only updated when url is also changed"
**Describe the bug**
When importing from a multisite, the uploads path is only updated (e.g., from uploads/sites/n to uploads/) when the url is changed as well.

**Steps to Reproduce**

1. Export a site from a multisite
2. Import the site into another wordpress instance without setting old_url and/ or new_url
3. uploads paths are not updated in database

**Expected behavior**

Uploads paths should

[2021-12-04 21:50] reikjarloekl commented on #79
I also encountered this issue and fixed it by running these SQL statements on my wordpress DB after the import. Note that this will NOT merge roles you defined on the site level, but removes them completely leaving you with the roles you had defined on the site level. 3 is the blog id I exported from the multi site. You need to adjust this for your blog id.

[code]

[2021-12-04 22:22] reikjarloekl opened #98 "Support multiple roles"
**Is your enhancement related to a problem? Please describe.**

In a site I am managing, we use multiple roles to define which parts of the website (corresponding to different products) the user has access to. Therefore, users usually have multiple roles.

**Describe the solution you'd like**

Exporting and importing sites should support multiple roles. Currently, only the first role is exported.

[2022-01-14 19:19] jeffpaul commented on #68
Note that I'm updating this from testing against WP 5.8 to 5.9.

[2022-10-20 07:27] vdwijngaert commented on #67
Hey @jmtornetta, still got that script somewhere? :)

[2022-11-14 15:29] JOY opened #100 "Error: Impossible to create the file to export multisite"
### Describe the bug

I got these error when trying to export my multisites:

[code]

If I tried to use root:

[code]

### Steps to Reproduce

1. Install MU-Migration
2. CD to public_html directory
3. Run the command: `wp mu-migration export all site.zip --plugins --themes --uploads`

### Screenshots, screen recording, code snippet

_No response_

### Environment information

Ubuntu 22.01

### Wor

[2022-11-14 16:10] splaquet commented on #100
1) IMO, bad form on CentOS.  They've really done us wrong with the repo aftermath that I've seen over and over again (eg: ImageMagick, Imagick, etc etc)

2) I'm not 100% certain here, but I'm going to assume the 256M issue is from ‘smart quotes’, and should be '256M'
`define('WP_MEMORY_LIMIT', '256M');
define('WP_MAX_MEMORY_LIMIT', '512M');`

3) I believe that you'll need to add ` --blog_id=1` to

[2022-11-14 16:19] JOY commented on #100
I'm using Ubuntu.

Add --blog_id=1 doesn't work.
I installed the package on root account.

[code]

[2022-11-23 10:01] Olya-Tom commented on #70
Hello, the same sed error. I use WSL, only the site is not being imported, here is the error `ERROR 1050 (42S01) at line 25 in file: 'mu-migration1669197215/mu-migration-1090416661oneadvocate-eu.sql': Table 'wp_addonlibrary_addons' already exists` , I tried deleting the entire site and tables in turn, etc, nothing it doesn't help. but this happens when I import to a multisite `blog_id=2` if I impo

[2022-11-24 17:17] Olya-Tom opened #101 "Import a site to blog_id= 2 ERROR 1050 (42S01) at line 25 Table 'wp_comments' already exists"
### Describe the bug

when importing a site **with the option** `blog_id=2`, error
`Importing tables...`
`Warning: Something went wrong while running sed`
`Warning: Something went wrong while running sed`
`Warning: Something went wrong while running sed`
`Warning: Something went wrong while running sed`
`Warning: Something went wrong while running sed`
`Warning: Something went wrong while running